html,
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons {
    text-align: center;
}

#items {
    margin: auto;
    height: 450px;
    list-style: none;
    text-align: center;
    max-width: 400px;
}

#items li {
    border: 1px black solid;
    text-align: center;
    padding: 7px 0px;
    margin-top: 5px;
}

#details li {
    list-style-type: none;
}

.buttons a {
    text-decoration: none;
    display: inline-block;
    padding: 16px 32px;
}


.previous {
    background-color: #4CAF50;
    color: white;
}

.next {
    background-color: #4CAF50;
    color: white;
}

.round {
    border-radius: 50%;
}