body {
    padding: 0;
    margin: 0;
}

header {
    background-color: lightblue;
    margin: 0;
    padding: 5px;
}

#todo-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#todo-list li {
    position: relative;
    padding: 5px;
    font-size: 18px;
    transition: 0.2s;
}

#nav-container {
    display: flex;
    max-width: 200px;
    flex-direction: column;
    align-items: left;
}

#todo-nav li {
    background-color: lightgrey;
    margin: 5px;
    padding: 5px;
    border: solid black 1px;
    border-radius: 4px;
    list-style-type: none;
}

h1 {
    text-align: center;
}

#app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

#todo-container {
    border: solid black 1px;
    padding: 10px;
    margin-bottom: 10px;
    width: 80%;
    max-width: 800px;
}

.delete {
    position: absolute;
    right: 0;
    top: 0;
    text-align: right;
    margin-right: 5px;
    background-color: lightcoral;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 3px;
    color: white;
}

input[type=checkbox]+label {
    text-decoration: none;
}

input[type=checkbox]:checked+label {
    text-decoration: line-through;
}