/* html selectors */
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav {
    background-color: white;
}

#homepage {
    background-color: bisque;
}

nav ul li:first-child {
    display: block;
}

nav ul li {
    border: 1px solid black;
    display: none;
}

nav ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
}

/* class selectors */
.open li {
    display: block;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    width: 80%;
    height: auto;
    margin-bottom: 10px;
}

footer {
    text-align: center;
}